# **상품별 클릭 수(Session, Timestamp 기준) 카운트**

- 공개되어 있는 [E-commerce Session 데이터셋(Yoochoose)](https://www.kaggle.com/chadgostopp/recsys-challenge-2015)을 이용하였습니다.


#### **- 목적 및 전략**

- item별 클릭 수를 count해서 해당 item에 대한 사용자의 preference/rating을 판단하는 지표로 활용하는 것이 목적입니다.
- **실제 프로젝트에서 user cluster별 선호하는 item과 선호도(클릭 수)를 도출하는 과정과 동일합니다.**
- 여기서 도출된 결과(클릭 수)는 recommendation을 위한 filtering 알고리즘(지도 학습)에 **정답(Label) 데이터로 활용되므로 매우 중요합니다.**
- 클릭 수뿐 아니라 장바구니, 찜하기, 구매 등의 데이터를 활용해 사용자의 선호도를 파악하는 feature로 활용할 수 있습니다.

In [ ]:
import os
from urllib import request
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
file_path = '/content/drive/MyDrive/AIFFEL/해커톤3/미니해커톤_토이모델구현/yoochoose-clicks.dat'

In [ ]:
session = pd.read_table(file_path, header=None, encoding='utf-8', sep=',', names=['session_id', 'timestamp', 'item_id', 'category'])

In [ ]:
# 원본 데이터
session.head()

   session_id                 timestamp    item_id category
0           1  2014-04-07T10:51:09.277Z  214536502        0
1           1  2014-04-07T10:54:09.868Z  214536500        0
2           1  2014-04-07T10:54:46.998Z  214536506        0
3           1  2014-04-07T10:57:00.306Z  214577561        0
4           2  2014-04-07T13:56:37.614Z  214662742        0

In [ ]:
# 원본 데이터셋 크기
session.shape

(33003944, 4)

In [ ]:
# 데이터 컬럼별 unique number check
session.nunique()

session_id     9249729
timestamp     32937845
item_id          52739
category           340
dtype: int64

In [ ]:
# 필요 없는 column drop
session.drop('category', axis=1, inplace=True)

In [ ]:
# 중복 data drop
session.drop_duplicates(inplace=True)

# 전처리 후 데이터 크기
session.shape

(33003875, 3)

In [ ]:
# item_id별 클릭 수 count
click = session.groupby('item_id').count()

In [ ]:
# click 수가 가장 많은 item 순으로 정렬
# item_id별 click 수를 카운트한 결과 도출 완료!
click.sort_values(by='timestamp', ascending=False)

           session_id  timestamp
item_id
643078800      147419     147419
214853094      125690     125690
214829878      113488     113488
214853420       78448      78448
214826610       69710      69710
...               ...        ...
214811685           1          1
214811687           1          1
214811690           1          1
214811692           1          1
214554114           1          1

[52739 rows x 2 columns]